footer {
    padding-top: 10%;
}
.container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.container p {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
#js-playerPickElement button {
    font-size: 25px;
    margin-top: 3px;
}
#js-playerPickElement button:hover {
    background-color: #9fcafd;
}
.badge {
    font-size: 22px;
    min-width: 65px;
}
#js-resultsTableElement {
    font-size: 18px;
}
#js-resultsTableElement>div {
    margin-top: 15px;
}